# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
# Calculate the total number of schools
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.nunique.html#pandas.DataFrame.nunique
number_schools = school_data_complete["school_name"].nunique()
number_schools

15

In [3]:
# Calculate the total number of students in the district
total_students_in_district = school_data_complete["student_name"].count()
total_students_in_district

39170

In [4]:
# Calculate the total district budget
total_district_budget = school_data_complete["budget"].unique().sum()
total_district_budget

24649428

In [5]:
# Calculate the average district math score 
average_district_math_score = school_data_complete["math_score"].mean()
average_district_math_score

78.98537145774827

In [6]:
# Calculate the average district reading score
average_district_reading_score = school_data_complete["reading_score"].mean()
average_district_reading_score

81.87784018381414

In [7]:
# Using 'math score' column, count number of students who passed math (70 or greater)
passing_math = school_data_complete["math_score"][school_data_complete["math_score"]>=70].count()

# Calculate the percentage of students with a passing math score ('passing_math/total_students) 
passing_math_percent = (passing_math/total_students_in_district)*100
passing_math_percent

74.9808526933878

In [8]:
# Using 'math score' column, count number of students who passed reading (70 or greater)
passing_reading = school_data_complete["reading_score"][school_data_complete["reading_score"]>=70].count()

# Calculate the percentage of students with a passing reading score ('passing_reading/total_students) 
passing_reading_percent = (passing_reading/total_students_in_district)*100
passing_reading_percent

85.80546336482001

In [9]:
# Calculate the overall passing rate (overall average score), 
# i.e. (avg. math score + avg. reading score)/2
overall_district_average = (average_district_math_score + average_district_reading_score)/2
overall_district_average

80.43160582078121

In [10]:
# Create a dataframe to hold stats for district
df_district_stats= pd.DataFrame({"Total # of Schools": [number_schools],
                 "Total # of Students": [total_students_in_district],
                 "Total Budget": [total_district_budget],
                 "Average Math Score": [average_district_math_score],
                 "Average Reading Score": [average_district_reading_score],
                 "Overall Average": [overall_district_average],
                 "Percent Math": [passing_math_percent],
                 "Percent Reading": [passing_reading_percent]})

In [11]:
# Format dataframe
df_district_stats_formatted = df_district_stats.style.format({"Total # of Students": "{:,}",
                          "Total Budget": "${:,}"})

df_district_stats_formatted

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [12]:
# Create list of all school names
school_names = school_data_complete["school_name"].unique()

In [13]:
# Create dictionary to store stats per school
stats_per_school = {}

# Loop through all school names
for school in school_names:
    # Within dictionary create a key for each school name with an empty list of values
    stats_per_school[str(school)] = []

In [14]:
# Loop through all school names 
for school in school_names:
    # create dataframe with only the data of one school
    df = school_data_complete.loc[school_data_complete["school_name"]== school]
    
    # Calculate Total Students per school
    total_students = len(df)
    
    # Find School Type by reseting index and looking at first row in the 'type' column
    df = df.reset_index()
    school_type = df.loc[0].at["type"]
    
    # Calculate School Budget per school by looking at first row in the 'budget' column
    budget = df.loc[0].at["budget"]
    
    # Calculate Per Student Budget for every school ('budget/total_students')
    per_student_budget = budget/total_students
    
    # Calculate Average Math Score per school
    avg_math_score = df["math_score"].mean()
    
    # Calculate Average Reading Score per school
    avg_reading_score = df["reading_score"].mean()
    
    # Calculate number of students passing math
    passing_math_per_school = df["math_score"][df["math_score"]>=70].count()
    # Convert students passing math to a percent
    passing_math_per_school_percent = (passing_math_per_school/total_students)*100
    
    # Calculate number of students passing reading
    passing_reading_per_school = df["reading_score"][df["reading_score"]>=70].count()
    # Convert students passing reading to a percent
    passing_reading_per_school_percent = (passing_reading_per_school/total_students)*100
    
    # Calculate Overall Passing Rate (Average of the above two) per school
    overall_average_per_school = (passing_math_per_school_percent + passing_reading_per_school_percent)/2
    overall_average_per_school
    
    # Update dictionary 'unique_school_stats' with above stats for current 'school' in loop
    stats_per_school[school] = {"Total Students": total_students,
                                   "School Type": school_type,
                                   "Total School Budget": budget,
                                  "Per Student Budget": per_student_budget,
                                  "Average Math Score": avg_math_score,
                                  "Average Reading Score": avg_reading_score,
                                  "% Overall Passing Rate": overall_average_per_school,
                                  "% Passing Math": passing_math_per_school_percent,
                                  "% Passing Reading": passing_reading_per_school_percent}

In [15]:
# Convert dictionary 'unique_school_stats' to a DataFrame
df_stats_per_school = pd.DataFrame(stats_per_school)

# Transpose rows and columns of DataFrame
df_stats_per_school = df_stats_per_school.transpose()

# Rearrange the order of the columns
df_stats_per_school = df_stats_per_school[['School Type', 'Total Students', 'Total School Budget', 'Per Student Budget',
                                          'Average Math Score', 'Average Reading Score', '% Passing Math',
                                          '% Passing Reading', '% Overall Passing Rate']]

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [16]:
# Sort 'df_stats_per_school' in decending order using '% overall passing rate'
# Create dataframe of top five schools using head()
df_top_five = df_stats_per_school.sort_values('% Overall Passing Rate', ascending=False).head()

In [17]:
# Format dataframe
df_top_five_formatted = df_top_five.style.format({"Total Students": "{:,}",
                          "Total School Budget": "${:,}"})

df_top_five_formatted

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [18]:
# Sort 'df_stats_per_school' in ascending order using '% overall passing rate'
# Create dataframe of bottom five schools using head()
df_bottom_five = df_stats_per_school.sort_values('% Overall Passing Rate').head()

In [19]:
# Format dataframe
df_bottom_five_formatted = df_bottom_five.style.format({"Total Students": "{:,}",
                          "Total School Budget": "${:,}"})
df_bottom_five_formatted

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [20]:
# Create dataframe that includes only students in 9th grade
ninth = school_data_complete.loc[school_data_complete["grade"] == "9th"]
# Group students by 'school_name' and calculate mean of 'math_score' for each school
ninth_avg_math_score = ninth.groupby("school_name")["math_score"].mean()

# Create dataframe that includes only students in 10th grade
tenth = school_data_complete.loc[school_data_complete["grade"] == "10th"]
# Group students by 'school_name' and calculate mean of 'math_score' for each school
tenth_avg_math_score = tenth.groupby("school_name")["math_score"].mean()

# Create dataframe that includes only students in 11th grade
eleventh = school_data_complete.loc[school_data_complete["grade"] == "11th"]
# Group students by 'school_name' and calculate mean of 'math_score' for each school
eleventh_avg_math_score = eleventh.groupby("school_name")["math_score"].mean()

# Create dataframe that includes only students in 12th grade
twelvth = school_data_complete.loc[school_data_complete["grade"] == "12th"]
# Group students by 'school_name' and calculate mean of 'math_score' for each school
twelvth_avg_math_score = twelvth.groupby("school_name")["math_score"].mean()

# Combine all series from above into a dataframe using grade ("9th", "10th", etc.) as column headers
# Index of rows will be 'school_name' since the above series were all grouped by 'school_name'
math_scores_by_grade = pd.DataFrame({"9th": ninth_avg_math_score,
                        "10th": tenth_avg_math_score,
                        "11th": eleventh_avg_math_score,
                        "12th": twelvth_avg_math_score})

math_scores_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [21]:
# Using dataframe 'ninth' group students by 'school_name' and calculate mean of 'reading_score' for each school
ninth_avg_reading_score = ninth.groupby("school_name")["reading_score"].mean()

# Using dataframe 'tenth' group students by 'school_name' and calculate mean of 'reading_score' for each school
tenth_avg_reading_score = tenth.groupby("school_name")["reading_score"].mean()

# Using dataframe 'eleventh' group students by 'school_name' and calculate mean of 'reading_score' for each school
eleventh_avg_reading_score = eleventh.groupby("school_name")["reading_score"].mean()

# Using dataframe 'twelvth' group students by 'school_name' and calculate mean of 'reading_score' for each school
twelvth_avg_reading_score = twelvth.groupby("school_name")["reading_score"].mean()

# Combine all series from above into a dataframe using grade ("9th", "10th", etc.) as column headers
# Index of rows will be 'school_name' since the above series were all grouped by 'school_name'
reading_scores_by_grade = pd.DataFrame({"9th": ninth_avg_reading_score,
                        "10th": tenth_avg_reading_score,
                        "11th": eleventh_avg_reading_score,
                        "12th": twelvth_avg_reading_score})

reading_scores_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [22]:
# Create lists of bins (spending_bins) and bin labels (group_names)
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [23]:
# Drop columns in order to create dataframe 'df_school_spending' 
df_school_spending = df_stats_per_school.drop(columns = ["School Type", "Total Students", "Total School Budget"])

In [24]:
# Convert columns of 'df_school_spending' to numeric
cols = df_school_spending.columns
df_school_spending[cols] = df_school_spending[cols].apply(pd.to_numeric, errors='coerce')

In [25]:
# Organize the 'df_school_spending' into bins using the 'Per Student Budget'.
# Create new column 'bin' to show which bin each row belongs to
df_school_spending["bin"] = pd.cut(df_school_spending["Per Student Budget"], bins=spending_bins, labels=group_names)

# Create groupby object using column 'bin'
grouped_by_bins_spending = df_school_spending.groupby("bin")
# Create new dataframe using the mean of all columns in 'grouped_by_bins_spending'
df_school_spending_by_bins = grouped_by_bins_spending.mean()

# Delete column 'Per Student Budget' from 'df_school_spending_by_bins'
df_school_spending_by_bins = df_school_spending_by_bins.drop(columns = ["Per Student Budget"])
df_school_spending_by_bins

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
bin,,,,,
<$585,83.455399,83.933814,93.460096,96.610877,95.035486
$585-615,83.599686,83.885211,94.230858,95.900287,95.065572
$615-645,79.079225,81.891436,75.668212,86.106569,80.887391
$645-675,76.997210,81.027843,66.164813,81.133951,73.649382

## Scores by School Size

* Perform the same operations as above, based on school size.

In [26]:
# Create lists of bins (size_bins) and bin labels (group_names)
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [27]:
# Drop columns in order to create dataframe 'df_school_size' 
df_school_size = df_stats_per_school.drop(columns = ["School Type", "Per Student Budget", "Total School Budget"])

In [28]:
# Convert columns of 'df_school_size' to numeric
cols = df_school_size.columns
df_school_size[cols] = df_school_size[cols].apply(pd.to_numeric, errors='coerce')

In [29]:
# Organize the 'df_school_size' into bins using the 'Total Students'.
# Create new column 'bin' to show which bin each row belongs to
df_school_size["bin"] = pd.cut(df_school_size["Total Students"], bins=size_bins, labels=group_names)

# Create groupby object using column 'bin'
grouped_by_bins_size = df_school_size.groupby("bin")
# Create new dataframe using the mean of all columns in 'grouped_by_bins_size'
df_school_size_by_bins = grouped_by_bins_size.mean()

# Delete column 'Total Students' from 'df_school_size_by_bins'
df_school_size_by_bins = df_school_size_by_bins.drop(columns = ["Total Students"])
df_school_size_by_bins

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
bin,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,94.824831
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,95.195187
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,76.364998

## Scores by School Type

* Perform the same operations as above, based on school type.

In [30]:
# Drop columns in order to create dataframe 'df_by_school_type' 
df_by_school_type = df_stats_per_school.drop(columns = ["Total Students", "Per Student Budget", "Total School Budget"])

In [31]:
# Convert columns of 'df_by_school_type' to numeric
df_by_school_type["Average Math Score"] = pd.to_numeric(df_by_school_type["Average Math Score"])
df_by_school_type["Average Reading Score"] = pd.to_numeric(df_by_school_type["Average Reading Score"])
df_by_school_type["% Passing Math"] = pd.to_numeric(df_by_school_type["% Passing Math"])
df_by_school_type["% Passing Reading"] = pd.to_numeric(df_by_school_type["% Passing Reading"])
df_by_school_type["% Overall Passing Rate"] = pd.to_numeric(df_by_school_type["% Overall Passing Rate"])

In [32]:
# Group using 'School Type' and calculate the mean of all values in each group for every column
# Store this in new dataframe called 'df_by_school_type' 
df_by_school_type = df_by_school_type.groupby("School Type").mean()
df_by_school_type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,95.103660
District,76.956733,80.966636,66.548453,80.799062,73.673757

# Observable Trends

1) Small and medium size schools have a higher overall passing rate

2) Charter schools also have a higher overall passing rate. Charter schools also tend to be smaller

3) A higher per student budget does not translate into better scores.

Overall, the biggest factor seems to be school size. I would be curious to look at data that involves class size and see if that would factor in as well.